.p3{
    color: white;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: -205px;
    height: 500px;
    border: 10px solid black;
    font: italic normal 15px/30px verdana, sans-serif;
    background-image: url("cèpe.jpeg");
    background-size: 100%;
}
.figure-amanite{
    width: 22%;
    height: auto;
    border: 3px solid black;
    margin-top: -31px;
    /* margin-right: ici si je mets -1px ça va beaucoup trop me le décaler*/
    overflow: hidden;
    background-color: red;
    text-align: center;
    float: right;
}
.phalloïde{
height: 250px;
margin-top: -52px;
border: 0,5px solid black;
}